/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-image: url("../assets/images/background_podcast.jpg");
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

breakpoint {
  max-width: 100%;
  display: inline-block;
}

@media screen and (max-width: 800px) {
  .container-landing {
    height: 100vh;
    width: 100vw;
    background-image: url("../assets/images/background_podcast.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .title-landing {
    line-height: 50px;
    font-size: 30px;
    position: relative;
    top: 10px;
    font-family: "Codystar", cursive;
    letter-spacing: 10px;
    color: #ffa54b;
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 0px 30px #ffef4b;
  }

  .span-borde-separador {
    width: 60px;
    height: 1px;
    position: relative;
    bottom: 20px;
    background-color: #ffef4b;
    opacity: 0.3;
  }

  .subtitle-landing {
    font-size: 20px;
    position: relative;
    bottom: 50px;
    font-weight: lighter;
    font-family: "Bungee Hairline", cursive;
    letter-spacing: 5px;
    color: #ffa54b;
    text-align: center;
    line-height: 20px;
  }

  .title-podcasts {
    position: relative;
    bottom: 60px;
    text-decoration: none;
  }

  .title-podcasts h3 {
    font-size: 27px;
    letter-spacing: 10px;
    font-weight: bold;
    color: #ffa54b;
    text-shadow: 0px 0px 30px #ffef4b;
    font-family: "Codystar", cursive;
  }

  .background-image-directo {
    width: 345px;
    height: 218px;
    bottom: 115px;
    position: absolute;
    opacity: 0;
    z-index: 0;
  }

  .title-temporada {
    font-size: 30px;
    font-family: "Codystar", cursive;
    letter-spacing: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #f84620;
  }
}

@media screen and (min-width: 810px) {
  .landing-position {
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url("../assets/images/background_podcast.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-between;
  }

  .container-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 50px;
    right: 20px;
  }

  .title-landing {
    font-size: 100px;
    font-family: "Codystar", cursive;
    letter-spacing: 10px;
    color: #ed630a;
    text-shadow: 0px 0px 30px #ed630a;
    text-align: center;
    line-height: 130px;
  }

  .subtitle-landing {
    line-height: 26px;
    font-size: 25px;
    font-weight: lighter;
    font-family: "Bungee Hairline", cursive;
    letter-spacing: 6px;
    color: #ed630a;
    text-align: center;
    position: relative;
    top: 25px;
  }

  .title-podcasts {
    text-decoration: none;
    position: relative;
    left: 50px;
  }

  .title-podcasts h3 {
    color: #ed630a;
    font-family: "Bungee Hairline", cursive;
    letter-spacing: 2px;
    font-weight: bolder;
    text-shadow: 0px 0px 30px #ed630a;
    font-weight: bolder;
    font-size: 35px;
  }

  .background-image-directo {
    width: 344px;
    height: 218px;
    position: absolute;
    bottom: 66px;
    left: 470px;
    z-index: 0;
  }

  .title-temporada {
    font-size: 30px;
    font-family: "Codystar", cursive;
    letter-spacing: 10px;
    margin-bottom: 10px;
    color: #ed630a;
  }
}
